.Cart{
    position: fixed;
    width: 700rem;
    height: 80rem;
    background-color: #333;
    bottom: 30rem;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.Icon{
    width: 80rem;
    position: absolute;
    bottom: -6rem;
}

.Icon img{
    width: 100%;
}

.TotalAmount{
    position: absolute;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    font-weight: bold;
    color: #fff;
    line-height: 36rem;
    font-size: 22rem;
    text-align: center;
    background-color: red;
    right: -19rem;
}

.NoChoice{
    margin-left: 120rem;
    color: rgb(175, 175, 175);
    font-size: 36rem;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    font-weight: bold;
}

.Price{
    margin-left: 120rem;
    color: #fff;
    font-size: 36rem;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    font-weight: bold;
}

.Price::before{
    content: '￥';
    font-size: 25rem;
}

.Button{
    background-color: #fcbf49;
    border: none;
    width: 170rem;
    border-radius: 20px;
    font-size: 34rem;
}

.NoButton{
    background-color: #8b8b8b;
    border: none;
    width: 170rem;
    border-radius: 20px;
    font-size: 34rem;
    color: rgb(228, 228, 228);
}