.item{
    background-color:aquamarine;
    width: 300px;
    height: 300px;
    margin: 300px auto;
}

h1{
    text-align:center;
}

.item button{
    width: 70px;
    height: 70px;
    margin: 20px 40px;
}