.date{
    width: 90px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

.month{
    height: 30px;
    background-color: #d62828;
    line-height: 30px;
    color: #fff;
}

.day{
    height: 60px;
    line-height: 60px;
    font-size: 50px;
}