.item{
    background-color: #fcbf49;
    display:flex;
    margin: 16px 0;
    padding: 6px;
    border-radius: 10px;
}

.content{
    flex: auto;
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

.desc{
    font-size: 23px;
}

.time{
    color: #d62828;
}
